:root {
    --background-color: #F5F5F5;
    --text-color: #1C1C1C;
    --header-bg: rgba(255, 255, 255, 0.1);
    --logo-color: #1C1C1C;
    --link-color: black;
    --link-hover: #FF0800;
    --button-bg: #FF0800;
    --button-text: #ffffff;
    --button-hover-bg: #000000;
    --sidebar-bg: rgba(215, 29, 29, 0.9);
    --sidebar-link: white;
    --sidebar-link-first: black;
    --star-color: #EF9B0F;
}


/* Dark mode variables */
.darkmode{
    --background-color: #121212;
    --text-color: #EAEAEA;
    --highlight-color: #1E90FF;
    --highlight-hover: #1C86EE;
    --secondary-color: #555;
    --secondary-hover: #ccc;
    --card-bg: #1E1E1E;
    --card-text: #CCCCCC;
    --btn-text: #fff;
    --btn-bg-primary: #1E90FF;
    --btn-hover-primary: #1C86EE;
    --btn-bg-secondary: #555;
    --btn-hover-secondary: #777;
    --section-line: #fff;
    --logo-color: #e7e6e6;
    --link-color: #e7e6e6;
    --header-bg: rgba(0, 0, 0, 0.1);
}

.darkmode .menu-button svg path {
    fill: #ffffff;
}

/* General styling to adapt to different browser and take control of the full screen */
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Poppins, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}


#themeswitch {
        height: 38px;
        width: 38px;
        padding: 0;
        border-radius: 50%;
        background-color: var(--header-bg);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: .625rem;
        border: none;
        cursor: pointer;
    }


#themeswitch svg {
    fill: var(--text-color);
}

#themeswitch svg:last-child {
    display: none;
    
}

.darkmode #themeswitch svg:first-child{
    display: none;
}

.darkmode #themeswitch svg:last-child {
    display: block;
}

/* Overall Header styling */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background: var(--header-bg);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 0 2.5rem;
}

header .logo p {
    font-family: Poppins, sans-serif;
    font-weight: 800;
    font-size: 2.2rem;
    color: var(--logo-color);
    letter-spacing: -0.07em;
}

.navbar {
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 40px;
    list-style: none;
    font-family: Poppins, sans-serif;
    font-weight: bold;
}

.options {
    display: flex;
    gap: 1.25rem;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: var(--link-color);
    transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

nav li {
    display: flex;
}

nav a:hover {
    color: var(--link-hover);
    transform: scale(1.3);
    text-shadow: none;
}

/* Sidebar styling */
.sidebar {
    position: fixed;
    top: 0;
    right: -250px;
    height: 100vh;
    width: 250px;
    z-index: -1;
    background-color: var(--sidebar-bg);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: -4px 0px 10px rgba(0, 0, 0, 0.199);
    list-style: none;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 1.875rem;
    padding-top: 1.875rem;
    gap: 1.5rem;
    transition: right 0.2s ease-in-out;
    display: flex;
}

.sidebar li a {
    color: var(--sidebar-link);
}

.sidebar li:first-child a {
    color: var(--sidebar-link-first);
}

.sidebar.active {
    right: 0px;
    display: flex;
    z-index: 1000;
}

.menu-button {
    display: none;
}

@media (max-width: 950px) {
    .hideOnMobile {
        display: none;
    }
    .menu-button {
        display: block;
    }
}

/* Sparkle animation styling */
.options button {
    position: relative;
    font-family: Poppins;
    font-weight: bolder;
    background-color: var(--button-bg);
    color: var(--button-text);
    border: none;
    border-radius: .625rem;
    padding: .625rem;
    font-size: 12px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.star-1, .star-2, .star-3, .star-4, .star-5, .star-6 {
    position: absolute;
    filter: drop-shadow(0 0 8px var(--star-color));
    z-index: -5;
    transition: all 0.8s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}

.star-1 {top: 20%; left: 20%; width: 25px;}
.star-2 {top: 45%; left: 45%; width: 15px;}
.star-3 {top: 40%; left: 40%; width: 5px;}
.star-4 {top: 20%; left: 40%; width: 8px;}
.star-5 {top: 25%; left: 45%; width: 15px;}
.star-6 {top: 5%; left: 50%; width: 5px;}

button:hover {
    background: var(--button-hover-bg);
    color: var(--button-text);
    box-shadow: 0 0 80px #ffffff8c;
}

button:hover .star-1 {top: -20%; left: -20%; width: 20px; filter: drop-shadow(0 0 10px #fffdef); z-index: 2;}
button:hover .star-2 {top: 35%; left: -25%; width: 15px; filter: drop-shadow(0 0 10px #fffdef); z-index: 2;}
button:hover .star-3 {top: 80%; left: -10%; width: 10px; filter: drop-shadow(0 0 10px #fffdef); z-index: 2;}
button:hover .star-4 {top: -25%; left: 105%; width: 20px; filter: drop-shadow(0 0 10px #fffdef); z-index: 2;}
button:hover .star-5 {top: 30%; left: 115%; width: 15px; filter: drop-shadow(0 0 10px #fffdef); z-index: 2;}
button:hover .star-6 {top: 80%; left: 105%; width: 10px; filter: drop-shadow(0 0 10px #020202); z-index: 2;}

.fil0 {
    fill: var(--star-color);
}

/* Hover animation for the mode toggle icon */
.mode {
    transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.mode:hover {
    transform: scale(1.3);
    text-shadow: none;
}


